.form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.form label {
  margin-right: 10px;
  font-weight: 400;
}

.form input {
  width: 300px;
  line-height: 40px;
  padding: 0;
}

.form input::placeholder {
  padding-left: 10px;
}

.form button {
  width: 120px;
  line-height: 42px;
  background-color: #3195c9;
  color: #fff;
  border: none;
  transition: all 0.2s ease-in-out;
}

.form button:hover {
  background-color: #2386c0;
}

.form form button:nth-child(4) {
  background-color: inherit;
  color: #000;
  border: 1px solid #a9a9a9;
  line-height: 40px;
}
